<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Sparkle Sparkle</title>
  </head>
  <body class='container'>
    <!-- <h1><%= @title %></h1> -->
    <p>Eyeshadow: <%= @name %></p>
    <p>Company: <%= @company %></p>
    <p>Color: <%= @color %></p>
    <p><a href='/results'>See the results!</a></p>
  </body>
</html>
