<ul class="collection">
  <% @casts.each do |cast| %>
    <li class="collection-item avatar">
      <img src="https://placekitten.com/g/200/250" alt="" class="circle">
      <span class="title"><%= cast.name %></span>
      <p><%= cast.company %><br>
         <%= cast.color %>
      </p>
      <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
    </li>
  <% end %>
</ul>
